@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
}

menu {
    list-style-type: none;
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

menu li {
    float: left;
}

menu li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

menu li a:hover {
    color: #333333;
}

menu li .active {
    background-color: #E7E7E7;
}

/* negate hover effects for active tab */
menu li .active:hover {
    color: #777777;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    padding: 5px 0px;
}

.dropdown-content a {
    display: block;
    text-align: left;
    padding: 3px 20px;
}

.dropdown-content .inactive-state a {
    color: #333333;
}

.dropdown-content .inactive-state:hover {
    color: #333333;
    display: block;
    text-align: left;
    background-color: #f5f5f5;
    cursor: pointer;
}

.dropdown-content .active-state:hover {
    color: #ffffff;
    background-color: #337ab7;
    cursor: pointer;
}

.dropdown-active{
    display: block;
}

.States-active{
    background-color: #E7E7E7;
}

.States-active:hover {
    color: #777777;
}

.States:hover {
    cursor: pointer;
}

.dropdown-active .state-option:hover {
    cursor: pointer;
}

.inactive:hover {
    cursor: pointer;
}

.active-state {
    color: #ffffff;
    background-color: #337ab7;
}

/* builds down-arrow */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

@media screen and (max-width: 650px) {
    menu li {
        float: none;
    }
    menu li a {
        width: 100%;
        text-align: left;
    }

    .dropdown-content {
        position: relative;
        width: 100%;
        z-index: 0;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        padding: 5px 0px;
    }
}