.standardPlot {
    height: 600px;
    width: 100%;
}

#plots h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}

#plots {
    margin: 0em 5em;
}

#plots p {
    margin: 2px;
    font-size: 13px;
}

#plots #countryComp {
    padding-bottom: 2em;
}

@media screen and (max-width: 650px) {
    #plots {
        margin: 0px 1em;
    }
}