.standardPlot {
    height: 600px;
    width: 100%;
}

#content h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
}

#content {
    margin: 0em 5em;
}

#content p {
    margin: 2px;
    font-size: 13px;
}

#content #countryComp {
    padding-bottom: 2em;
}

@media screen and (max-width: 650px) {
    #content {
        margin: 0px 1em;
    }
}