#snapshot, #metrics {
    border: none; 
    width: 100%;
}

#metrics_page {
    margin: 0em 5em;
}

@media screen and (max-width: 650px) {
    #metrics_page {
        margin: 0px 1em;
    }
}